@charset "UTF-8";
/* Set Your Media Query Ranges (Responsive Breakpoints)
576px for portrait phones.
768px for tablets.
992px for laptops.
1200px for large devices. */
@import url(style.css);

@media screen and (min-width: 576px) and (max-width: 768px) {

  body,
  html {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, var(--bg-color-principal-01), var(--bg-color-principal-02));
  }

  section#login {
    width: 500px;
  }

  div#form {
    display: flex;
    flex-direction: column;
    width: 500px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

  body,
  html {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, var(--bg-color-principal-01), var(--bg-color-principal-02));
  }

  section#login {
    width: 90vw;
  }

  div#form {
    float: right;
    width: 70%;
}
  div#imagem {
    float: left;
    width: 30%;
    height: 100%; 
  }
}

@media screen and (min-width: 992px) {
  section#login {
    width: 992px;
  }

  div#form {
    float: right;
    width: 50%;
}
  div#imagem {
    float: left;
    width: 50%;
    height: 100%; 
  }
}